<ion-header>
  <ion-toolbar>
    <ion-title>creationFile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">File Name:</ion-label>
    <ion-input type="text" [(ngModel)]="fileName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">File Content:</ion-label>
    <ion-textarea [(ngModel)]="fileContetnt"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Directory Name:</ion-label>
    <ion-input type="text" [(ngModel)]="dirName"></ion-input>
  </ion-item>
  <ion-button expand="full">
    <input type="file" id="file-input" (change)="loadImageFromDevice($event)" id="file-input">
  </ion-button>
  <ion-button (click)="importings()">Importing File</ion-button>
  <ion-button (click)="writingFile(fileName,fileContetnt,dirName)">Write File</ion-button>
  <ion-button (click)="showFile()">showFile</ion-button>

</ion-content>
