<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://www.google.com">UI Components</a></p>
  </div>
  <ion-button (click)="openUrl()">Google</ion-button>

  <ion-button expand="full">
    <input type="file" id="file-input" (change)="loadImageFromDevice($event)" id="file-input">
  </ion-button>
  <ion-button (click)="creation()">Creation File</ion-button>
  <!-- <ion-label>{{fileGenerating}}</ion-label> -->
  <!-- <ion-label>{{downloadText}}</ion-label> -->
  <ion-button (click)="downloads()">show</ion-button>
  <!-- <ion-button (click)="convert6toB()">show</ion-button>
  <ion-button (click)="chkBlobto64()">blob to b64</ion-button> -->
</ion-content>
